<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarTop"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarTop" class="navbar-menu">
    <% if  user_signed_in?%>
      <div class="navbar-start">
        <div class="dropdown is-hoverable">
          <a class="navbar-item">
            <ion-icon name="add" class="mr-1"></ion-icon>
            New
          </a>
          <div class="dropdown-menu box has-background-dark pt-3" id="dropdown-menu">
            <%= link_to "Test Cases", new_test_path, :class => "navbar-item has-text-white-bis dp-navbar-item" %>
            <a class="navbar-item has-text-white-bis dp-navbar-item">
              Test Plan
            </a>
            <a class="navbar-item has-text-white-bis dp-navbar-item">
              Test Execution
            </a>
          </div>
        </div>
        <%= link_to "Tests", root_path, :class => "navbar-item" %>
        <a class="navbar-item"> Reports </a>
      </div>
    <% else %>
      <div class="navbar-start">
        <%= link_to "Home", root_path, :class => "navbar-item" %>
        <a class="navbar-item"> Documentation </a>
      </div>
    <% end %>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%- unless user_signed_in? %>
            <%= button_to("Log in", user_session_path, method: :post, :class => "button is-light" ) %>
            <%= button_to("Sign up", new_user_registration_path, method: :get, :class => "button is-primary"  ) %>
          <% end %>
          <%- if user_signed_in?%>
            <%= button_to("Log Out", destroy_user_session_path, method: :delete, :class => "button is-primary"  ) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
