<div class="box">
  <table class="table table-test-cases is-fullwidth">
    <thead>
      <tr>
        <th><abbr title="Test Id">Id</abbr></th>
        <th><abbr title="Test name">Test</abbr></th>
        <th><abbr title="Number of steps in the test">Steps</abbr></th>
        <th><abbr title="The Test Creation date ">Created on</abbr></th>
        <th><abbr title="Test Tag">Tag</abbr></th>
        <th><abbr title="Test Last Run Status">Status</abbr></th>
      </tr>
    </thead>
    <tbody>

      <% if !@test_cases.blank? %>
        <% for tests in @test_cases %>
          <tr class= 'test-case-row' 
          link='<%= "#{test_path(tests)}?project=#{params[:project]}"%>' > 
            <th> <%= tests.id %> </th>
            <td><%= tests.name %></td>
            <td>UPDATE</td>
            <td> <%= tests.created_at %></td>
            <td><%= tests.tag %></td>

            <% case tests.status
                 when nil %>
            <td>
              <span class="tag is-warning" title="">
                <ion-icon name="remove-circle-outline" ></ion-icon>
              </span>
            </td>

            <% when 'passed' %>
            <td>
              <span class="tag is-primary" title="Passed">
                <ion-icon name="checkmark-done"></ion-icon>
              </span>
            </td>

            <% when 'failed' %>
            <td>
              <span class="test-status-failed tag is-danger">
                <ion-icon name="close-outline"></ion-icon>
              </span>
            </td>

          <% else %>
            <td>
              <span class="tag is-warning" title="">
                <ion-icon name="remove-circle-outline" ></ion-icon>
              </span>
            </td>
          <% end %>

        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

  <% if @test_cases.blank? %>

  <div class="notification is-primary  is-light is-flex is-align-items-center is-justify-content-center is-3">
    <ion-icon name="information-circle-outline" size='large' class='m-2'>
    </ion-icon>
    <div>
      <%=
        ['It is lonely here, no tests to play with.',
        'Oopsy daisy.. no tests, it is crazy!',
        'No test cases to display.'
        ].sample
      %>
      Select a project from the side panel or create a <%= link_to "test case", new_test_path %>
    </div>
  </div>

  <% end %>


</div>
