  <section class="modal-card-body">

  <div class="notification is-info is-light is-flex is-align-items-center is-3">
    <ion-icon name="information-circle-outline" size='large' class='m-2'>
    </ion-icon>
    <div>
      You can configure your project in <strong> settings </strong> when its created
    </div>
  </div>

  <%= form_with(model: @project) do |form| %>
    <% if @project.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
        <ul>
          <% @project.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label "project name", style: "display: block", :class => "label" %>
      <%= form.text_field :name, :class => "input" %>
    </div>
   
    <div class="field">
      <%= form.label :description, style: "display: block", :class => "label" %>
      <%= form.text_field :description, :class => 'input' %>
    </div>
   

   <div class="field">
      <label class="checkbox">
       <%= form.check_box :isPrivate, :class => 'checkbox' %>
        This is a private project 
      </label>
    </div>


    <br/>
    <div>
      <%= form.submit "Save new porject", :class => 'button is-primary' %>
    </div>

  <% end %>
</section>
