    <section class="modal-card-body">

  <%= form_with(model: @project) do |form| %>
    <% if @project.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
        <ul>
          <% @project.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label "project name", style: "display: block", :class => "label" %>
      <%= form.text_field :name, :class => "input" %>
    </div>
   
    <div class="field">
      <%= form.label :description, style: "display: block", :class => "label" %>
      <%= form.text_field :description, :class => 'input' %>
    </div>
   

    <div class="field">
      <%= form.label "The project Id", style: "display: block", :class => 'label' %>
      <%= form.text_field :projectId, :class => 'input', readonly: true %>
    </div>


   <div class="field">
      <label class="checkbox">
       <%= form.check_box :isPrivate, :class => 'checkbox' %>
        This a private project 
      </label>
    </div>


    <br/>
    <div>
      <%= form.submit "Save new porject", :class => 'button is-primary' %>
    </div>

  <% end %>
</section>
