<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Isprivate:</strong>
    <%= project.isPrivate %>
  </p>

  <p>
    <strong>Projectid:</strong>
    <%= project.projectId %>
  </p>

</div>
